.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  background-color: transparent;
}

.page-btn {
  background-color: #111; /* Fond sombre Marvel */
  color: white;
  border: 1px solid #333;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-btn:hover:not(:disabled) {
  background-color: #ed1d24;
  color: white;
  border-color: #ed1d24;
  transform: scale(1.05);
}

.page-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.page-info {
  color: #ccc;
  font-size: 14px;
  margin: 0 8px;
}
